.jobOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 17px;
}

.subHeading {
  font: var(--text-sm-medium);
  color: var(--primary-600);
}

.heading {
  font: var(--display-sm-medium);
  color: var(--secondary);
}
