.jobOverviewHeader,
.jobOverviewBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  --page-padding: 16px;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  padding-top: 80px;
  padding-bottom: 80px;
}

.jobOverviewBody {
  background: var(--gray-50);
}

.subHeading {
  grid-column: span 4;
  text-align: center;
  font: var(--text-sm-medium);
  color: var(--primary-600);
}

.heading {
  grid-column: span 4;
  text-align: center;
  font: var(--display-sm-bold);
  color: var(--secondary);
}

.bodyHeading {
  grid-column: span 4;
  text-align: center;
  color: var(--secondary);
  font: var(--display-sm-medium);
}

.loading, .jobsList {
  grid-column: span 4;
  margin-top: 24px;
}

.loading {
  color: var(--gray-600);
  font: var(--text-lg-medium);
  text-align: center;
}

.jobsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
