.jobOverview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 10px;
  --page-margin: 16px;
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
  margin-top: 80px;
  /* margin-bottom: 80px; */
}

.subHeading {
  grid-column: span 4;
  text-align: center;
  font: var(--text-sm-medium);
  color: var(--primary-600);
}

.heading {
  grid-column: span 4;
  text-align: center;
  font: var(--display-sm-medium);
  color: var(--secondary);
}

.filters {
  grid-column: span 4;
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
