.pagination {
  margin-top: 30px;
  border-top: 1px solid var(--gray-200);
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  display: flex;
  justify-content: space-between;
}

.innerPagination {
  list-style-type: none;
  display: flex;
}

button.paginationItem,
.paginationItem.centerItem button,
.paginationItem.centerItem span {
  width: 40px;
  height: 40px;
  color: var(--gray-600);
  background: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.paginationItem:hover,
.paginationItem.centerItem button:hover {
  color: var(--gray-900);
  cursor: pointer;
}

button.paginationItem:disabled {
  color: var(--gray-400);
  cursor: default;
}

.paginationItem.centerItem button {
  font: var(--text-sm-medium);
}

.paginationItem.centerItem button.selected {
  background: var(--primary-75);
  color: var(--primary-600);
  cursor: default;
}

.paginationItem:global(.material-symbols-outlined) {
  font-size: 20px;
  line-height: 20px;
}
