.pagination {
  margin-top: 30px;
  border-top: 1px solid var(--gray-200);
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  display: flex;
  justify-content: space-between;
}

.innerPagination {
  list-style-type: none;
  display: flex;
}

button.paginationItem,
.paginationItem.centerItem button,
.paginationItem.centerItem span {
  height: 40px;
  color: var(--gray-600);
  font: var(--text-sm-medium);
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.paginationItem span,
.paginationItem.centerItem button,
.paginationItem.centerItem span {
  width: 40px;
  border-radius: 50%;
}

button.paginationItem span {
  color: var(--gray-600);
  font-size: 20px;
  line-height: 20px;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: start;
}

button.paginationItem:hover,
button.paginationItem:hover span,
.paginationItem.centerItem button:hover {
  color: var(--gray-900);
  cursor: pointer;
}

button.paginationItem:disabled,
button.paginationItem:disabled span {
  color: var(--gray-400);
  cursor: default;
}

.paginationItem.centerItem button.selected {
  background: var(--primary-75);
  color: var(--primary-600);
  cursor: default;
}
