
.select {
  border: 1px solid #C3C3C3;
  border-radius: 8px;
  padding: 10px 14px;
  background: var(--gray-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--text-md-medium);
  color: var(--gray-900);
}

.select.placeholder {
  color: var(--gray-600);
}

.select:global(.base--disabled) {
  background: var(--gray-100);
  color: var(--gray-500);
}

.select:hover:global(:not(.base--disabled)) {
  border-color: #838383;
  color: var(--gray-900);
}

.select:focus {
  border-color: var(--primary-300);
  color: var(--gray-900);
  outline: 3px solid #BEEFF5;
}

.select:global(.base--expanded) {
  border-color: var(--primary-300);
  color: var(--gray-900);
}

.select span:global(.material-symbols-outlined) {
  color: #272727;
}
.select:global(.base--disabled)
span:global(.material-symbols-outlined) {
  color: var(--gray-500);
}

.selectPopup {
  width: calc(100% - (var(--page-padding) * 2));
  margin-top: 8px;
  border-radius: 8px;
  background: var(--gray-50);
  font: var(--text-md-medium);
  color: var(--gray-900);
  box-shadow: 0px 3px 9px -0.5px #00000029;
}

.selectListbox {
  list-style-type: none;
}

.selectOption {
  padding: 10px 14px;
  cursor: pointer;
}

.selectOption:hover,
.selectOption:global(.base--highlighted) {
  color: var(--primary-700);
}

.selectOption:global(.base--selected) {
  background: var(--primary-50);
  color: var(--primary-700);
}
